//////////////////////////////////////
// VARIABLES /////////////////////////
// Author: Ariel Jatib ///////////////
//////////////////////////////////////

// Layout ////////////////////////////
	$page-width: 	940px; //for now. later change to the 940px or consider fluid
	$page-fluid: 	95%;

// Colors ////////////////////////////
	$text-color:	#000;
	$text-green:	#215E21; // I've always loved the name 'hunter green'
	$btn-green:		#C8DEAD;
	$shell-green: #38B802;
	$blue: 				#336699; // my favorite shade 

// Typography ////////////////////////
	$font-stack: 'Lato', sans-serif;
	
	$font-size:		16px;
	$line-height:	28px;
	// to calculate changes, http://www.pearsonified.com/typography/